In [1]:
# importing python libraries
import numpy as np
import pandas as pd

In [2]:
# importing tensorflow and keras library for model building
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.activations import sigmoid , relu

In [3]:
data=pd.read_csv('C:/Users/user/Downloads/Algo8Usecase/sample_data_intw.csv')

In [4]:
data.head()

,Unnamed: 0,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
0,1,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,...,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000,UPW,2016-07-20
1,2,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,...,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000,UPW,2016-08-10
2,3,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,...,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000,UPW,2016-08-19
3,4,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,...,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000,UPW,2016-06-06
4,5,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,...,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333,UPW,2016-06-22

In [5]:
data['pcircle'].unique()

array(['UPW'], dtype=object)

In [6]:
data.describe(include='all')

,Unnamed: 0,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
count,209593.000000,209593.000000,209593,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,...,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593,209593
unique,NaN,NaN,186243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,82
top,NaN,NaN,47819I90840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UPW,2016-07-04
freq,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209593,3150
mean,104797.000000,0.875177,NaN,8112.343445,5381.402289,6082.515068,2692.581910,3483.406534,3755.847800,3712.202921,...,274.658747,0.054029,18.520919,23.645398,6.703134,0.046077,3.398826,4.321485,NaN,NaN
std,60504.431823,0.330519,NaN,75696.082531,9220.623400,10918.812767,4308.586781,5770.461279,53905.892230,53374.833430,...,4245.264648,0.218039,224.797423,26.469861,2.103864,0.200692,8.813729,10.308108,NaN,NaN
min,1.000000,0.000000,NaN,-48.000000,-93.012667,-93.012667,-23737.140000,-24720.580000,-29.000000,-29.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,52399.000000,1.000000,NaN,246.000000,42.440000,42.692000,280.420000,300.260000,1.000000,0.000000,...,6.000000,0.000000,1.000000,6.000000,6.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,104797.000000,1.000000,NaN,527.000000,1469.175667,1500.000000,1083.570000,1334.000000,3.000000,0.000000,...,6.000000,0.000000,2.000000,12.000000,6.000000,0.000000,0.000000,1.666667,NaN,NaN
75%,157195.000000,1.000000,NaN,982.000000,7244.000000,7802.790000,3356.940000,4201.790000,7.000000,0.000000,...,6.000000,0.000000,5.000000,30.000000,6.000000,0.000000,3.750000,4.500000,NaN,NaN
max,209593.000000,1.000000,NaN,999860.755168,265926.000000,320630.000000,198926.110000,200148.110000,998650.377733,999171.809410,...,99864.560864,3.000000,4997.517944,438.000000,12.000000,3.000000,171.500000,171.500000,NaN,NaN

In [7]:
# Removing unnecessary and contant features
data.drop(['msisdn','pdate','Unnamed: 0','pcircle'],axis=1,inplace=True)

In [10]:
# Making all the reamining features numeric
cols=data.columns
for i in cols:
    data[i]=pd.to_numeric(data[i])

In [11]:
# Filling NAN values
data['aon']=data['aon'].fillna(data['aon'].mode())

In [13]:
data.isna().any()

label                   False
aon                     False
daily_decr30            False
daily_decr90            False
rental30                False
rental90                False
last_rech_date_ma       False
last_rech_date_da       False
last_rech_amt_ma        False
cnt_ma_rech30           False
fr_ma_rech30            False
sumamnt_ma_rech30       False
medianamnt_ma_rech30    False
medianmarechprebal30    False
cnt_ma_rech90           False
fr_ma_rech90            False
sumamnt_ma_rech90       False
medianamnt_ma_rech90    False
medianmarechprebal90    False
cnt_da_rech30           False
fr_da_rech30            False
cnt_da_rech90           False
fr_da_rech90            False
cnt_loans30             False
amnt_loans30            False
maxamnt_loans30         False
medianamnt_loans30      False
cnt_loans90             False
amnt_loans90            False
maxamnt_loans90         False
medianamnt_loans90      False
payback30               False
payback90               False
dtype: bool

In [15]:
# No. of data having label == 1
data['label'][data['label']==1].count()

183431

In [16]:
# No. of data having label == 0
data['label'][data['label']==0].count()

26162

In [17]:
# shuffling the dataset
data = data.sample(frac=1).reset_index(drop=True)

In [21]:
# Appending column names in a list
col_names=[]
for i in data.columns:
    col_names.append(str(i))
col_names

['label',
 'aon',
 'daily_decr30',
 'daily_decr90',
 'rental30',
 'rental90',
 'last_rech_date_ma',
 'last_rech_date_da',
 'last_rech_amt_ma',
 'cnt_ma_rech30',
 'fr_ma_rech30',
 'sumamnt_ma_rech30',
 'medianamnt_ma_rech30',
 'medianmarechprebal30',
 'cnt_ma_rech90',
 'fr_ma_rech90',
 'sumamnt_ma_rech90',
 'medianamnt_ma_rech90',
 'medianmarechprebal90',
 'cnt_da_rech30',
 'fr_da_rech30',
 'cnt_da_rech90',
 'fr_da_rech90',
 'cnt_loans30',
 'amnt_loans30',
 'maxamnt_loans30',
 'medianamnt_loans30',
 'cnt_loans90',
 'amnt_loans90',
 'maxamnt_loans90',
 'medianamnt_loans90',
 'payback30',
 'payback90']

In [22]:
target=data.label

In [23]:
# scalling the dataset for better performance of model and reducing complexity
from sklearn.preprocessing import StandardScaler
scaller=StandardScaler()

In [24]:
data2=data

In [25]:
data2.drop('label',axis=1,inplace=True)

In [26]:
data2=scaller.fit_transform(data2)

In [27]:
data2=pd.DataFrame(data2,columns=col_names[1:])

In [28]:
# Finding feature importance scores
from sklearn.ensemble import ExtraTreesClassifier as etc
x=data2.values
y=target.values
model=etc()
model.fit(x,y)
score=model.feature_importances_
score

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.07518522, 0.13022188, 0.11627572, 0.07397825, 0.07324165,
       0.04935704, 0.00370778, 0.02358907, 0.03945786, 0.01594   ,
       0.03168034, 0.02296146, 0.03819659, 0.02325957, 0.03631364,
       0.02666032, 0.03224193, 0.04543166, 0.00282021, 0.00206241,
       0.00312643, 0.00092544, 0.01853603, 0.03429109, 0.00195553,
       0.00447215, 0.00661271, 0.02257505, 0.00730172, 0.00259176,
       0.01266407, 0.02236543])

In [29]:
#appending feature names with their scores 
feature_importance=list(zip(data.columns,score))
from operator import itemgetter
feature_importance=sorted(feature_importance,key=itemgetter(1),reverse=True)

In [30]:
feature_importance

[('daily_decr30', 0.13022188249879577),
 ('daily_decr90', 0.1162757171965028),
 ('aon', 0.07518521861778096),
 ('rental30', 0.07397825037612082),
 ('rental90', 0.07324165455896295),
 ('last_rech_date_ma', 0.049357036420771),
 ('medianmarechprebal90', 0.04543165608118439),
 ('cnt_ma_rech30', 0.03945785836184335),
 ('medianmarechprebal30', 0.03819658781870807),
 ('fr_ma_rech90', 0.036313642778364685),
 ('amnt_loans30', 0.03429108558955629),
 ('medianamnt_ma_rech90', 0.032241927523136746),
 ('sumamnt_ma_rech30', 0.03168034438728856),
 ('sumamnt_ma_rech90', 0.026660319687195306),
 ('last_rech_amt_ma', 0.023589069733040702),
 ('cnt_ma_rech90', 0.02325956599115684),
 ('medianamnt_ma_rech30', 0.022961464462231136),
 ('amnt_loans90', 0.022575053952085394),
 ('payback90', 0.022365434482985287),
 ('cnt_loans30', 0.0185360290734193),
 ('fr_ma_rech30', 0.015940001805681742),
 ('payback30', 0.012664065056220064),
 ('maxamnt_loans90', 0.007301721601112733),
 ('cnt_loans90', 0.006612705882440581),
 ('medianamnt_loans30', 0.004472154044248546),
 ('last_rech_date_da', 0.0037077822201773726),
 ('cnt_da_rech90', 0.0031264271300658654),
 ('cnt_da_rech30', 0.0028202075509281173),
 ('medianamnt_loans90', 0.0025917575289654783),
 ('fr_da_rech30', 0.0020624072267846167),
 ('maxamnt_loans30', 0.001955528936340124),
 ('fr_da_rech90', 0.0009254414259043546)]

In [31]:
# applying a threshold value for selecting important features based on their scores
important_features=[x[0] for x in feature_importance if x[1]>0.005]

In [32]:
# No. of important features selected 
len(important_features)

24

In [33]:
df=pd.DataFrame()

In [34]:
for i in important_features:
    df[i]=data2[i]

In [35]:
df.head(5)

,daily_decr30,daily_decr90,aon,rental30,rental90,last_rech_date_ma,medianmarechprebal90,cnt_ma_rech30,medianmarechprebal30,fr_ma_rech90,...,last_rech_amt_ma,cnt_ma_rech90,medianamnt_ma_rech30,amnt_loans90,payback90,cnt_loans30,fr_ma_rech30,payback30,maxamnt_loans90,cnt_loans90
0,1.621109,1.471637,-0.096100,0.980655,0.671172,-0.069656,-0.205099,0.710030,-0.071022,-0.295212,...,-0.221637,0.651227,-0.132224,1.826784,0.017318,1.660218,-0.069596,-0.059433,2.517690,-0.037905
1,-0.529344,-0.510910,-0.102203,-0.480876,-0.492985,-0.069656,-0.089448,1.649862,-0.070046,-0.374638,...,-0.546003,1.068273,-0.503568,2.506804,-0.148987,3.617551,-0.069614,-0.054706,-0.334212,-0.015663
2,0.377313,0.259420,-0.093854,-0.213999,-0.233115,-0.069600,0.270505,0.240114,-0.067446,0.022495,...,0.836664,-0.043850,2.758846,0.693417,-0.205808,0.485818,-0.069521,-0.083071,2.517690,-0.055699
3,0.993384,1.184811,-0.091251,-0.074607,-0.171906,-0.069656,0.879121,-0.464760,-0.057546,0.181349,...,2.503626,-0.321880,2.987736,-0.666624,-0.322221,-1.080049,-0.069502,-0.385630,-0.334212,-0.077941
4,-0.190870,-0.224681,-0.100670,-0.558449,-0.548517,-0.069637,-0.105699,0.005156,-0.070148,-0.454065,...,-0.546003,-0.182865,-0.503568,0.013396,0.292183,0.485818,-0.069633,0.446408,-0.334212,-0.064596

In [36]:
len(target),len(df)

(209593, 209593)

In [37]:
df['label']=target

In [39]:
cols=important_features

In [40]:
# spliting dataset for train and test
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test= train_test_split(df[cols],df['label'], test_size=0.3)

In [41]:
# As our dataset is highly imbalanced , so upsampling the minority data for training set to avoid the model bias
from sklearn.metrics import recall_score
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=44,ratio=1)
x_train, y_train = sm.fit_sample(x_train, y_train)

In [42]:
len(x_train),len(y_train)

(256774, 256774)

In [43]:
# importing GridSearchCV and KerasClassifier for applying cross validation and to pick best no. of neurons,layers for my model
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

In [44]:
# function for defining model graph

def create_model(layers,activation):
    model = Sequential()
    for i,nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=x_train.shape[1]))
            model.add(Activation(activation))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
    model.add(Dense(1))
    model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [45]:
model=KerasClassifier(build_fn=create_model,verbose=0)

In [46]:
# parameters to be selected from for model training
layers=[[28,28],[40,30,]]

activations=['sigmoid','relu']

param_grid=dict(layers=layers,activation=activations,batch_size=[10],epochs=[100])

grid=GridSearchCV(estimator=model,param_grid=param_grid,cv=5)

In [47]:
grid_result=grid.fit(x_train,y_train)

WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [59]:
[grid_result.best_score_,grid_result.best_params_]

[0.7310124781742577,
 {'activation': 'relu', 'batch_size': 10, 'epochs': 100, 'layers': [28, 28]}]

In [60]:
# Predicting test data (unseen data)
predicted=grid.predict(x_test)

In [61]:
pred=[]
for i in predicted:
    if i>=0.5:
        pred.append(1)
    else:
        pred.append(0)

In [62]:
# applying confusion matrix 
from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(y_test, predicted)
print(conf_mat)

[[ 6072  1762]
 [11696 43348]]

In [ ]:
# finding the  proportion of actual positives was identified correctly
recall=conf_mat[0][0]/(conf_mat[0][0]+conf_mat[1][0])

In [63]:
# finding the proportion of positive identifications was actually correct
precision=conf_mat[0][0]/(conf_mat[0][0]+conf_mat[0][1])

In [64]:
precision

0.7750829716619863

In [70]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.34      0.78      0.47      7834
           1       0.96      0.79      0.87     55044

    accuracy                           0.79     62878
   macro avg       0.65      0.78      0.67     62878
weighted avg       0.88      0.79      0.82     62878

In [67]:
Accuracy=(conf_mat[0][0]+conf_mat[1][1])/(conf_mat[0][0]+conf_mat[0][1]+conf_mat[1][0]+conf_mat[1][1])

In [68]:
# model accuracy
Accuracy

0.7859664747606476

In [69]:
#list of predicted value for y_test data
pred

[1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]